@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu.ttf);
}
@font-face {
    font-family: Source;
    src: url(SourceCodePro-Regular.otf);
}
.logo {
    max-height: 1cm;
}
h1 {
    font-family: Comfortaa;
    color: white;
    font-size: 18pt;
}
p {
    font-family: Ubuntu;
    color: white;
    font-size: 14pt;
}
html {
    background-image: url(background.jpg);
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
body {
    min-height: 100%;
    min-width: 100%;
}
.header {
    min-width: 100%;
    backdrop-filter: blur(8px) brightness(82%);
    -webkit-backdrop-filter: blur(8px) brightness(82%);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#billboard {
    min-height: 50%;
    min-width: 100%;
    margin-top: 8%;
}
.generic {
    border-radius: 32px;
    margin: 2%;
    padding: 2%;
}